/* Structure */
.table-container {
    position: relative;
}

.passengers-table-container {
    position: relative;
    min-height: 200px;
    max-height: 800px;
    overflow: auto;
}

table {
    width: 100%;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
    width: 64px;
}

.mat-column-created {
    width: 124px;
}

tr.mat-mdc-footer-row td {
    font-weight: bold;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

td,
th {
    width: 25%;
}

.filters-section {
    margin: 10px 0;
    margin: auto;
}

.radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}

mat-radio-button {
    margin: 5px;
}

.container {
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: flex-start;
}

.table-section {
    margin: auto;
}
